<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>exercise1</display-name>
  <welcome-file-list>
    <welcome-file>view.jsp</welcome-file>
  </welcome-file-list>
<resource-ref>
 <description>postgreSQL Datasource</description>
 <res-ref-name>jdbc/postgres</res-ref-name>
 <res-type>javax.sql.DataSource</res-type>
 <res-auth>Container</res-auth>
</resource-ref>
<servlet>
    <servlet-name>exercise1</servlet-name>
    <jsp-file>/view.jsp</jsp-file>
</servlet>
 <servlet>
    <servlet-name>REST</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
     <!-- Register resources and providers under com.vogella.jersey.first package. -->
    <init-param>
        <param-name>com.sun.jersey.config.property.packages</param-name>
        <param-value>exercise1</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
<!--mapping-->
<servlet-mapping>
    <servlet-name>REST</servlet-name>
    <url-pattern>/Lecture1Web/*</url-pattern>
</servlet-mapping>
</web-app>